extends layout

block content
  
  fieldset
    legend New Category Form
    form(action'/products' method='POST')
      label(id='lbCategoryName') Name
      | &nbsp &nbsp
      label(for='categoryName')
        input#categoryName(type='text' name='name' required)
      br
      button(type='submit' id='savedCategory' value='Submit') Create Category
    
  fieldset
    legend New Product Form
    form
    label(for='ProductName') Name
    input#ProductName(type='text' required)
    br
    label(for='ProductPrice') Price
    input#ProductPrice(type='text' required)
    br
    label(for='ProductDescription') Description
    input#ProductDescription(type='text' required)
    
    button#btCreateProduct(type='button') Create Product 
    
  label(id='lbProductList') Product List
